@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.home-nav-link {
    @apply block py-2 pl-3 pr-4
}

.home-nav-link-active {
    @apply text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500
}

.home-nav-link-inactive {
    @apply text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700
}



@media screen and (min-width: 768px) {
    .banner {
        background-image: url('http://127.0.0.1:8000/storage/images/banner-desktop.png');
        background-size: cover;
        background-position: center center;
        height: 86vh;
    }
    footer {
        height: calc(14vh - 64px);
    }
}

@media screen and (max-width:767px) {
    .banner {
        background-image: url('http://127.0.0.1:8000/storage/images/banner-mobile.png');
        background-size: cover;
        background-position: center center;
        height: 84vh;
    }
    footer {
        height: calc(16vh - 72px);
    }
}
